body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background-image {
    background: url('https://i.imgur.com/923FhMD.jpg') no-repeat center center fixed;
    background-size: cover; /* تغطية الصورة على الشاشة بالكامل */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    background-color: #fff; /* لون أبيض */
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    max-width: 600px;
    text-align: center;
}

.quote-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* زيادة المسافة بين العنوان والخط الفاصل */
}
.small-text {
    text-align: left;
}

hr {
    width: 80%;
    border: 1px solid #000; /* لون الخط الأسود */
    margin: 20px auto; /* تحديد المسافة بين الخط والنص */
}

.quote-content {
    font-size: 18px;
    line-height: 1.5;
}
